"headers_to_pass": ["X-Jwt-Token"],
    "extra_config": {
      "auth/api-keys": {
    "strategy": "header",
    "identifier": "X-Jwt-Token"
  },
        "auth/validator": {
          "alg": "RS256",
          "jwk_url": "http://keycloak-container:8080/realms/institute/protocol/openid-connect/certs",
          "issuer": "http://localhost:8080/realms/institute",
          "catch": false,
          "disable_jwk_security": true,
          "operation_debug": true
        }
    }