"headers_to_pass": ["X-Jwt-token"],
    "extra_config": {
        "auth/validator": {
          "alg": "HS256",
          "jwk_local_path": "settings/validation.json",
          "catch": false,
          "disable_jwk_security": true,
          "operation_debug": true,
          "cookie_key": "jwt_token"
         
        }
    }