{
    "endpoint": "/department",
    "method": "GET",
    "output_encoding": "json",
    "input_header": [
        "*"
    ],
    {{include "authentication.tmpl"}},
    "backend": [
        {
            "url_pattern": "/department/",
            "method": "GET",
            "is_collection": true,
            "mapping": {
                  "collection": "data"
            }

        }
    ]
},{
    "endpoint": "/employee",
    "method": "GET",
    "output_encoding": "json",
    "input_header": [
        "*"
    ],
     {{include "authentication.tmpl"}},
    "backend": [
        {
            "url_pattern": "/employee",
            "method": "GET",
            "is_collection": true,
             "identifier": "X-Jwt-Token",
                    "strategy": "header",
            
            "mapping": {
                  "collection": "data"
            }

        }
    ]
}

